@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

html{
    scroll-behavior: smooth;
}

body
{
    min-height: 100vh;
    background: url('./img/c2.jpg');
    background-size: 100%;
}


header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}




header .logo
{
    color: white;
    background-color: black;
}

header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li
{
    list-style: none;
    margin-left: 20px;
}

header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: white;
    border-radius: 20px;
}

header ul li a:hover
{
    background: white;
    color: #2b1055;
}

.imageContainer
{
    position: relative;
    text-align: center;
    color: white;
}


.heading
{
    font-size: 7.5vw;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
}

.sub-heading
{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
}

.headingAbout
{
    color: aqua;
    font-size: 1.8em;
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow{
    from{
        text-shadow: 0 0 20px aqua;
    }
    to{
        text-shadow: 0 0 30px aqua,
                     0 0 10px aqua;
    }
}

.item1
{
    width: 50%;
    height: 710px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    border-radius: 15px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.6);
    background: rgba(255,255,255, 0.1);
    border-top: 1px solid rgba(255,255,255, 0.5);
    border-left: 1px solid rgba(255,255,255, 0.5);
    backdrop-filter: blur(5px);
    z-index: 10;

}

.item2
{
    width: 50%;
    height: 710px;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    border-radius: 15px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.6);
    background: rgba(255,255,255, 0.1);
    border-top: 1px solid rgba(255,255,255, 0.5);
    border-left: 1px solid rgba(255,255,255, 0.5);
    backdrop-filter: blur(5px);
    z-index: 10;
}

.writeup1
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    padding: 20px;
    text-align: center;
    transition: 0.5s;
    font-size: 1.9em;
    color: white;
    font-weight: 300;
}

#l
{
    padding: 20px;
}

#l1
{
    padding: 20px;
    font-size: 1.2em;
    color: white;
}

#l2
{
    padding: 20px;
    font-size: 1.2em;
    color: white;
}

#l3
{
    padding: 20px;
    font-size: 1.2em;
    color: white;
}

.writeup2
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    padding: 20px;
    text-align: center;
    transition: 0.5s;

}

#picheader
{
    font-size: 3em;
    color: white;
    font-weight: 300;
    padding-left: 10%;
    
}

#picheader .name
{
    color: #39ff14;
}

#picheader .name:hover
{
    color: #0dfff0;
}

#picheader .emoji
{
    animation: waving-hand 1s infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

@keyframes waving-hand
{
    0%{
        transform: rotate(0deg);
    }
    10%{
        transform: rotate(14deg);
    }
    20%{
        transform: rotate(-8deg);
    }
    30%{
        transform: rotate(14deg);
    }
    40%{
        transform: rotate(-4.0deg);
    }
    50%{
        transform: rotate(10deg);
    }
    60%{
        transform: rotate(4deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.two-containers
{
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    z-index: 1;
}

.box
{
    position: relative;
    top: 10%;
    left: 25%;
    width: 50%;
    height: 50%;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid rgba(0,0,0,0.25);
}

.box img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.one-container
{
    display: flex;
    height: 400px;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.6);
    background: rgba(255,255,255, 0.1);
    border-top: 1px solid rgba(255,255,255, 0.5);
    border-left: 1px solid rgba(255,255,255, 0.5);
    backdrop-filter: blur(5px);
}

.one-container .headingContact
{
    position: relative;
    top: -22%;
    left: 32.5%;
    color: aqua;
    font-size: 1.8em;
    animation: glow 1s ease-in-out infinite alternate;
}

.one-container .footer
{
    color: white;
    position: relative;
    top: 45%;
    left: -22.5%;

}

.one-container ul{
    position: relative;
    left: 8%;
    margin: 0;
    padding: 0;
    display: flex;
}

.one-container ul li{
    position: relative;
    list-style: none;
    width: 60px;
    height: 60px;
    margin: 0 50px;
    transform: rotate(-30deg) skew(25deg);
    background: #ccc;
}

.one-container ul li span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    transition: 0.5s;
    display: flex !important;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 30px !important;

}

.one-container ul li:hover span:nth-child(5)
{
    transform: translate(40px,-40px);
    opacity: 1;
}

.one-container ul li:hover span:nth-child(4)
{
    transform: translate(30px,-30px);
    opacity: 0.8;
}

.one-container ul li:hover span:nth-child(3)
{
    transform: translate(20px,-20px);
    opacity: 0.6;
}

.one-container ul li:hover span:nth-child(2)
{
    transform: translate(10px,-10px);
    opacity: 0.4;
}

.one-container ul li:hover span:nth-child(1)
{
    transform: translate(0,0);
    opacity: 0.2;
}


.one-container ul li:nth-child(1) span{

    background: #e4405f;
     
}


.one-container ul li:nth-child(2) span{
    background: #0077B5;
}

.one-container ul li:nth-child(3) span{
    background: black;
}

.one-container ul li:nth-child(4) span{
    background: #dd4b39;
}


.one-container ul li:hover span{
    box-shadow: -1px 1px 1px rgba(0,0,0,0.1);
}

@media (max-width: 768px)
{
    .imageContainer img{
        height: auto;
    }
    .imageContainer .heading{
        align-content: center;
        justify-content: center;
    }
    .imageContainer .sub-heading{
        align-content: center;
        justify-content: center;
    }

    .item1{
        width: 100%;
        height: auto;
        font-size: 15px;
    }
    .item2{
        width: 100%;
        height: auto;
        font-size: 15px;
    }

    .socials{
        width: 100%;
        height: auto;
        font-size: 20px;
        align-items: center;
        justify-content: center;
    }

    .footer{
        font-size: 10px;
        height: auto;
        justify-content: center;
    }

}

@media (max-width: 480px)
{
    .imageContainer img{
        height: auto;
    }
    .imageContainer .heading{
        align-content: center;
        justify-content: center;
    }
    .imageContainer .sub-heading{
        align-content: center;
        justify-content: center;
    }

    .item1{
        width: 100%;
        height: auto;
        font-size: 8px;
    }
    .item2{
        width: 100%;
        height: auto;
        font-size: 8px;
    }

    .socials ul{
        width: 100%;
        height: auto;
        font-size: 8px;
        align-items: center;
        justify-content: center;
    }

    .footer{
        font-size: 5px;
        height: auto;
        justify-content: center;
    }

    .one-container ul{
        align-self: flex-start;
        
    }
}